*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: darkgrey;
    color: white;
}

header{
    background-color: navy;
    height: 24vh;
}

header h2{
    text-align: center;
    padding:20px ;
    font-size: 50px;
}
#updatetime p{
    text-align: center;
}
.timer{
    font-size: 20px;
    font-weight:bolder ;
    
}